@import 'variables';
h1 {
    font-size: 100px;
    color: red;
}

h2 {
    color: blue;
}

.card-course-item {
    margin-top: 10px;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.trash {
    text-decoration: none;
}

.checkbox-select-all-option {
    width: 200px;
    margin: 0 10px;
}

.form-checkbox-all {
    margin: 10px
}

.error {
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}